@import "components/kalender.css";
@import "components/images.css";
@import "components/title.css";

body{
    margin: 0;
    text-align: center;
    background-color: #EEE2B5;
}

.main_container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;

    /*border: 3px solid red;*/
}
