body{
    text-align: center;
    background-color: #EEE2B5;
}

#datum_header{
    margin: 10px;
    font-size: 32px;
    color: #CA7373;
    text-decoration: underline;
    font-weight: normal;
    font-family: "Kurale", serif;


}

.tag{
    height: 600px;
    width: 500px;
    margin: 30px auto;
    padding: 10px;

    border: 5px solid #3C552D;
    border-radius: 8px;
    /*background-color: rgba(202,115,115, 0.6);*/
    background-color: rgba(215,178,109, 0.5);
    box-shadow: 0 15px 40px rgba(0,0,0,.1);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.btn_zurück{
    padding: 10px 15px 10px 15px;
    margin: 10px;

    border: 1px solid black;
    border-radius: 12px;
    background-color: #3C552D;
    box-shadow: 0 15px 40px rgba(0,0,0,.2);

    font-family: "Kurale", serif;
    text-decoration: none;
    text-align: center;
    color: #EEE2B5;
}

.inhalt{
    flex-grow: 1;

    /*border: 2px solid red;*/

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Header_light, .Header_bold, .Header_small{
    font-family: "Sour Gummy", sans-serif;
}

.Header_light{
    font-size: 32px;
    margin-bottom: 30px;
    font-weight: normal;
}

.Header_bold{
    font-size:28px;
}

.Header_small{
    font-weight: normal;
}
.text{
    font-family: "Sour Gummy", sans-serif;
    font-size: 24px;

    margin: 5px;
}
.bold{
    font-weight: bold;
}

.icon{
    font-size: 120px;
    color: #AF1740;
}